# Environment files
.env

# Python build / cache
__pycache__/
*.pyc

# Ignore model files
*.pkl

# Node dependencies (ignore in root and nested folders)
node_modules/
**/node_modules/

# Optional: OS or editor files
.DS_Store
.vscode/
